*
    box-sizing: border-box

// ::-webkit-scrollbar
//     width: 8px

// ::-webkit-scrollbar-track
//     background: $color_black

// ::-webkit-scrollbar-thumb
//     background: #2c2c4f
//     border-radius: 4px

html
    overflow-x: hidden

body
    font-family: Montserrat
    font-weight: 400
    margin: 0
    padding: 0

button
    background-color: inherit
    border: none
    font-size: inherit
    color: inherit
    padding: 0
    cursor: pointer

a
    text-decoration: none
    color: inherit

p, a, button
    font-size: 1.2vw
    line-height: 140%
    // @include adaptive(medium)
    //     font-size: 4.3vw

ul, li
    list-style: none
    padding: 0
    margin: 0

h1, h2, h3, h4, p
    margin: 0

h2
    font-size: 4.4vw
    font-weight: 900
    // @include adaptive(medium)
    //     font-size: 9.7vw
    //     line-height: 150%

.container
    // max-width: $contentWidthLarge
    // padding: $mainSidesPaddingLarge
    padding-top: 0
    padding-bottom: 0
    margin: 0 auto
    // @include adaptive(medium)
    //     max-width: $contentWidthSmall
    //     padding: $mainSidesPaddingSmall

.sectionMB
    margin-bottom: 10vw
    // @include adaptive(medium)
    //     margin-bottom: 140px
