@import './mixins'

*
    box-sizing: border-box

::-webkit-scrollbar
    width: 8px

::-webkit-scrollbar-track
    background: inherit

::-webkit-scrollbar-thumb
    background: $primary
    border-radius: 4px

html
    overflow-x: hidden
    margin: 0
    padding: 0

body
    font-family: Montserrat
    font-weight: 500
    margin: 0
    padding: 0

button
    background-color: inherit
    border: none
    font-size: inherit
    color: inherit
    padding: 0
    cursor: pointer

a
    text-decoration: none
    color: inherit

p, a, button, input
    font-size: 1vw
    line-height: 140%
    @include adaptive(small)
        font-size: 4.3vw

ul, li
    list-style: none
    padding: 0
    margin: 0

h1, h2, h3, h4, p
    margin: 0

h2
    font-size: 2.1vw
    @include adaptive(small)
        font-size: 18px

h3
    font-size: 1.1vw
    font-weight: 600

.container
    max-width: $container
    padding: $containerSidePadding
    padding-top: 0
    padding-bottom: 0
    margin: 0 auto
    @include adaptive(small)
        max-width: $containerSmall
        padding: 0 20px

.sectionMB
    margin-bottom: 10vw
    // @include adaptive(medium)
    //     margin-bottom: 140px
