@import '/src/styles/mixins.sass'

.button
    background-color: $primary
    border-radius: 1.8vw
    padding: 0.8vw 1.6vw
    color: $white
    font-size: 1vw
    transition: 0.6s all
    @include adaptive(small)
        font-size: 14px
        padding: 8px 12px
        border-radius: 24px


.button.outlined
    background-color: unset
    border: 1px solid $primary
    color: $primary

.button.filled_secondary
    background-color: $white
    color: $primary

.button.fullWidth
    width: 100%
    border-radius: 0

.button:hover
    transform: translateY(-4px)
