@import '/src/styles/vars.sass'

.button
    background-color: $primary
    border-radius: 1.8vw
    padding: 0.8vw 1.6vw
    color: $white
    font-size: 1vw

.button.outlined
    background-color: unset
    border: 1px solid $primary
    color: $primary
