.background_top
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 696px
    background: url('../assets/images/banner-background.png') center center / contain no-repeat
