@import '/src/styles/vars.sass'

.chip
    display: flex
    align-items: center
    color: $primary
    background-color: $primary_light
    padding: 0.5vw 1vw
    border-radius: 1.2vw
    width: fit-content

.chip_icon
    width: 1.8vw
    height: 1.4vw
    margin-right: 0.7vw

.chip_link
    border-bottom: 1px solid $primary
    margin-left: 0.3vw
